body {
    font-family: 'Poppins';
    margin: 10px;
    padding: 0;
}

img {
    width: 100%;
}

header {
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Poppins';
    margin: 25px 0px;
}

#indexmain {
    height: 1500px;
}

.layout_padding {
    padding-bottom: 45px;
}

nav {
    background-color: #2f4aab;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: inline;
    float: right;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 0px 15px;
    font-size: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f1cc52;
}

#about-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #2f4aab;
    font-size: 36px;
}

.container {
    text-align: center;
    width: 100%;
}

.container p {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: justify;
    margin-left: 20px;
    margin: 0px 20px;
    font-size: 20px;

}

.container img {
    border-radius: 10px;
    border: 2px solid rgb(213, 211, 211);
    display: inline-block;
    width: 34%;
    height: 330px;
}

.supplies {
    text-align: center;
    margin: 20px;
    float: left;
    width: 30%;
}

.supplies img {
    height: 270px;
    border-radius: 10px;
}

.testimonial {
    text-align: center;
    margin: 24px;
    float: left;
    position: relative;
    width: 44%;
}

.testimonial img {
    border-radius: 100%;
    border: 2px solid #aba9a9;
}

.example {
    width: 43%;
    float: left;
    margin: 10px;
    text-align: justify;
}

footer {
    background-color: #2f4aab;
    color: white;
    padding: 20px;
}

.item ul {
    list-style-type: none;
    padding: 0%;
}

.item ul li a {
    text-decoration: none;
    color: white;
}

.item {
    float: left;
    width: 33%;
    height: 250px;
    text-align: center;
}

.copyright {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #fff;
}

/* About Page */
.navbar-brand {
    padding: 0;
    margin: 0;
    color: #000000;
    font-weight: bold;
    font-size: 28px;
    font-weight: bold;
    width: 230px;
    height: 75px;
}

.navbar-brand img {
    width: 220px;
    height: 80px;
    object-fit: contain;
}

.about_section {
    background-color: #fff;
    color: black;
}

.upper {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
    background-color: #f7f7f7;
    border-radius: 30px;
    padding: 40px;
    max-width: 1230px;
    height: auto;
    align-items: center;
}

.lower {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 70px;
    background-color: #f7f7f7;
    border-radius: 30px;
    padding: 40px;
    max-width: 1230px;
    height: auto;
    align-items: center;
}

.upper .image img {
    /* max-width: 480px; */
    height: auto;
    border-radius: 2%;
    width: 530px;
    /* object-fit: contain; */
    background-color: white;
    border: 3px grey solid;
}

.upper .info {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem 2rem;
    border-radius: 10px;
}

.upper .info h3 {
    font-size: 35px;
    color: #2f4aab;
    font-weight: 900;
    margin-bottom: 20px;
}

.info p {
    font-size: 20px;
    text-align: justify;
    color: #6d6d6d;
}

.lower .image img {
    width: 530px;
}

.lower .info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0rem 2rem;
    border-radius: 10px;
}

.lower .info h3 {
    font-size: 35px;
    color: #f1cc52;
    font-weight: 900;
    margin-bottom: 10px;
}

/* ContactUs */
.contain {
    background-color: #f7f7f7;
    max-width: 1170px;
    margin: 33px auto;
    padding: 1em;
    border-radius: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.wrapper div.form {
    background-color: #f7f7f7;
}

.wrapper .form {
    background: #fff;
}

.wrapper .form-headline {
    color: #6d6d6d;
}

.wrapper form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
}

.wrapper .full-width {
    grid-column: 1 / 3;
}

.wrapper form p {
    margin: 0;
}

.wrapper .form-input,
textarea {
    width: 100%;
    border: 1px solid #6d6d6d;
    border-radius: 5px;
}

.wrapper .contact-wrapper {
    margin: auto 0;
}

.wrapper .contact_img {
    height: 352px;
    width: 433px;
}

.wrapper h4 {
    color: #6d6d6d;
}

.wrapper .form-headline:after {
    content: "";
    display: block;
    width: 10%;
    padding-top: 10px;
    border-bottom: 3px solid #f1cc52;
}

.wrapper .form-input,
textarea {
    width: 100%;
    border: 1px solid #6d6d6d;
    border-radius: 5px;
    font-family: "poppins";
    font-size: medium;
}

.form-input,
textarea {
    padding: 1em;
}

form input {
    color: black;
}

.wrapper>* {
    padding: 2em 2em;
}

.submit-btn {
    background-color: #2f4aab;
    outline: 0;
    border: 1px;
    color: #f7f7f7;
    border-radius: 5px;
    width: 200px;
    border: 1px solid;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.submit-btn:hover,
.wrapper button:focus,
.submit-btn:focus {
    background-color: #29429a;
    color: #f7f7f7;
}

#message {
    width: 610px;
    height: 200px;
}

.unit {
    margin: auto;
    padding: 64px;
    max-width: 880px;
    height: auto;
    border-radius: 15px;
    background-color: #f7f7f7;
}

.unit #title {
    text-align: center;
    color: #2f4aab;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #6d6d6d;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
}

.accordion button[aria-expanded='true'] {
    color: #000000;
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #000000;
}

/* produts */
.container1 {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-list {
    width: 100%;
    border-collapse: collapse;
}

.product-list th,
.product-list td {
    padding: 10px;
    text-align: left;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

.product-list th {
    background-color:#2f4aab;
    color: #fff;
}

.product-list img {
    max-width: 210px;
    height: auto;
}

#cart {
    padding: 8px 16px;
    font-size: 18px;
    background-color: #fff;
    color: #2f4aab;
    border: 1px solid #2f4aab;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cart:hover {
    background-color: #29429a;
    color: #fff;
}

.fade {
    display: none;
}

.mySlides {
    display: none;
}

.mySlides img {
    width:1300px;
    height: 516px;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}
/* Login */
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
}

.form-container {
    width: 400px;
    background-color: #f7f7f7;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#button2 {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #2f4aab;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.message {
    margin-top: 10px;
    color: #dc3545;
    font-size: 14px;
}

#forgotpwd {
    text-decoration: none;
}

.menu-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0px;
    }

    .navbar-brand img {
        width: 180px;
        height: 80px;
    }

    nav ul li {
        display: inline;
        padding: 0px 6px;
        font-size: 17px;
    }

    .container img {
        width: 60%;
    }

    .container p {
        width: 94%;
        margin-left: 0px;
        margin: 0px 20px;
        font-size: 17px;
    }

    .supplies img {
        height: 200px;
        border-radius: 10px;
    }

    .supplies {
        margin: 10px;
    }

    .example {
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }

    .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    .item div {
        width: 100%;
        margin: 10px 0;
    }

    .testimonial img {
        border-radius: 100%;
        border: 2px solid #aba9a9;
        width: 31%;
    }

    .testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin: 0px;
        height: 450px;
    }

    .upper {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 40px;
        background-color: #f7f7f7;
        border-radius: 30px;
        padding: 40px;
        max-width: 900px;
        height: auto;
        align-items: center;
    }

    .upper .image img {
        /* max-width: 480px; */
        height: auto;
        border-radius: 2%;
        width: 400px;
        /* object-fit: contain; */
        background-color: white;
        border: 3px grey solid;
    }

    .upper .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2rem 2rem;
        border-radius: 10px;
    }

    .lower .image img {
        width: 400px;
    }

    .lower {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 70px;
        background-color: #f7f7f7;
        border-radius: 30px;
        padding: 40px;
        max-width: 1230px;
        height: auto;
        align-items: center;
    }

    .lower .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0rem 2rem;
        border-radius: 10px;
    }

    .container1 {
        max-width: 900px;
        margin: 20px 20px;
        padding: 20px;
        background-color: #f7f7f7;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    #cart {
        padding: 7px 2px;
        font-size: 14px;
        background-color: #2f4aab;
        color: #f7f7f7;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    h1 {
        font-size: 35px;
    }

    .layout_padding {
        padding-bottom: 45px;
        margin: 20px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        /* text-align: center; */
    }

    .wrapper .contact-wrapper {
        margin: auto 0;
        text-align: center;
    }

    .wrapper .contact_img {
        height: 320px;
        width: 400px;
        text-align: center;
    }

    .contain {
        background-color: #f7f7f7;
        max-width: 900px;
        margin: 33px 20px;
        padding: 1em;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .menu-toggle {
        display: block;
        font-size: 28px;
    }

    .nav-menu{
        display: none;
        position: absolute;
        right: 0;
        z-index: 999;
        top: 80px;
        background-color: #2f4aab;
        width: 115px;
        padding-left: 10px;
    }
    .nav-menu.active {
        display: block;
    }

    .nav-menu li {
        width: 100%;
        text-align: center;
        padding: 2px 0;
        display: block;

    }

    #about-heading {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .upper .image img {
        width: 300px;
    }

    .upper .info h3 {
        font-size: 23px;
    }
    .info p {
        font-size: 15px;
    }
    .lower .info h3 {
        font-size: 22px;
    }
    .lower .image img {
        width: 300px;
    }
    .container img {
        width: 55%;
        height: auto;
    }
    .container1 {
        padding: 10px;
        overflow-x:auto;
    }

    .product-list th,
    .product-list td {
        font-size: 16px;
        padding: 8px;
    }

    #cart {
        font-size: 16px;
        padding: 6px 12px;
    }
    .unit {
        padding: 33px;
    }

    .wrapper div.form {
        background-color: #f7f7f7;
        display: contents;
    }
    .wrapper form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 26px;
    }
    .wrapper .form-input, textarea {
        width: 90%;
        border: 1px solid #6d6d6d;
        border-radius: 5px;
        font-family: "poppins";
        font-size: medium;
    }
    .wrapper .full-width {
        grid-column: 1;
    }
    #message {
        width: 320px;
        height: 200px;
    }
    .wrapper .contact_img {
        height: 220px;
        width: 300px;
        text-align: center;
    }
    header img {
        height: auto;
        max-width: 100%;
    }

    .container p {
        width: 89%;
        margin: 20px;
        font-size: 15px;
    }

    .supplies img {
        height: 200px;
        border-radius: 10px;
    }

    .supplies {
        width: 87%;
        margin: 20px 20px;
    }

    .testimonial {
        width: 100%;
        float: left;
        margin: 0;
        padding-bottom: 20px;
        display: block;
        background-color: #fff;
    }

    .example {
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .example img {
        max-width: 80px;
        height: auto;
        margin: 0 auto;
    }

    footer {
        padding: 10px;
        margin-top: 20px;
    }

    .item {
        float: none;
        width: 100%;
        height: auto;
    }
}